body {
    color: #464d55;
}
body,input{-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility !important}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #e67862;
    font-weight: bold;
}

img {
    max-width: 100%;
}

.center {
    text-align: center;
}
.largePadding {
    padding: 60px 0;
}
.mediumPadding {
    padding: 20px 0;
}
.smallPadding {
    padding: 10px 0;
}

/**
* Alert block
*/
.bs-callout {
    margin: 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    font-size: 13px
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-success {
    background-color: #dff0d8;
    border-color: #99bc9d;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}

/** 
* Red Button 
*/
.btn-danger {
    background-color: #e67862;
}
.btn-danger:hover {
    background-color: #dd4b39;
}

/** 
* Outline inverse Button 
*/
a.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
a.btn-outline-inverse:hover, a.btn-outline-inverse:focus, a.btn-outline-inverse:active {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

/**
* Hiring
*/
.hiring {
    z-index: 999999;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}
.alert-white {
    background: #fff;
}
.alert-white .alert-link {
    color: #e67862;
}

/**
* Nav
*/
#nav {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
#nav h1 {
    margin: 0;
    padding: 0;
}
#nav .navPublic .navTop {
    list-style: none;
    margin: 0;
    padding-top: 6px;
}
#nav .navPublic .navTop > li {
    float: left;
}
#nav .navPublic .navTop > li a.btn-link {
    color: #9098a1;
}
#nav .navPublic .navTop > li a.active {
    color: #e67862;
}
#nav .navPublic .navTop > li a.btn-link.active {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/**
* Section
*/
section.grey {
    background-color: #ecf0f4;
}
section.lightgrey {
    background-color: #f3f6f9;
}


/**
* Thumbnail block
*/
.thumbnail h3 {
    font-size: 20px;
}

/**
* Footer
*/
#footer {
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 0px 0 10px 0;
    overflow: hidden;
}
#footer ul {
    list-style: none;
}
#footer h5 {
    text-transform: uppercase;
    padding-left: 40px;
}
#footer ul li a {
    color: #777;
}
#footer ul li.active a {
    color: #8BC11B;
}
#footer .copyright {
    border-top: 1px solid #ddd;
    color: #464d55;
    margin-top: 50px;
    padding: 10px 0 0;
    font-size: 13px;
    line-height: 33px;
}
#footer .copyright a {
    color: #777;
    font-size: 13px;
}



.system {
    height: 50px;
    margin-left: 5px;
    padding-top:8px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Scada', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
color: #8BC11B;
font-weight: bold;
}


#footer ul li a {
color: #002B55;
}

.clients {
    position:relative; 
}

.clients h4 {
    color:green;
}

.clients img{
    padding:10px;
}

.clients .front{
    position: absolute;
    top:0;
    left:-50%;
    width: 200%;
    height:100%;
    background-color: rgba(0, 20, 30,0.7);
}

.row.sitemap {
    padding-top:20px;
}

div#banner{
    position: relative;
    top:0;
    left:-50%;
    width: 200%;
    height: 70px;
    margin: 0px auto;
    overflow: hidden;
}
div#banner > #banner_backdrop{
    position: absolute;
    top:0;
    left:-50%;
    width: 200%;
    height: 200px;
    -webkit-animation: backdrop_roll linear 24s infinite;
    -moz-animation: backdrop_roll linear 24s infinite;
    -ms-animation: backdrop_roll linear 24s infinite;
    -o-animation: backdrop_roll linear 24s infinite;
    animation: backdrop_roll linear 24s infinite;
}
@-webkit-keyframes backdrop_roll { from { left: -2400px; } to { left: 0px; } }
@-moz-keyframes backdrop_roll { from { left: -2400px; } to { left: 0px; } }
@-ms-keyframes backdrop_roll { from { left: -2400px; } to { left: 0px; } }
@-o-keyframes backdrop_roll { from { left: -2400px; } to { left: 0px; } }
@keyframes backdrop_roll { from { left: -2400px; } to { left: 0px; }  }

.btn.btn-outline-inverse.login.tel-number {
 color:#002B55;
}