/**
* Hero
*/
.hero-unit {
    background-image: url("../img/hero-mobile.jpg");
    backgrond-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 500px;
}
.hero-unit h1 {
    font-size: 22px;
line-height: 25px;
}
.hero-unit h2 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    text-align: center;
    padding: 30px 0 0 0;
    font-size: 10px;
line-height: 10px;
}
.hero-unit p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
}
.hero-unit p a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.no-mobile {
    display: none;
}

.hero-unit .signupForm {
    position: inherit;
    margin: 75px 0 0 0; 
    top:0;
}

.input-lg {
    margin-bottom: 1px;
}

@-webkit-keyframes backdrop_roll { from { left: -800px; } to { left: 0px; } }
@-moz-keyframes backdrop_roll { from { left: -800px; } to { left: 0px; } }
@-ms-keyframes backdrop_roll { from { left: -800px; } to { left: 0px; } }
@-o-keyframes backdrop_roll { from { left: -800px; } to { left: 0px; } }
@keyframes backdrop_roll { from { left: -800px; } to { left: 0px; }  }

.btn.btn-outline-inverse.login.tel-number {
 color:#FFF;
 border-bottom-right-radius: 4px !important;
border-top-right-radius: 4px !important;
}
