<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row clients">
					<h4 style="text-align: center;">Ils nous font confiance</h4>
					<div id="banner">
						<div id="banner_backdrop">
							<img src="/img/clients/image001.jpg">
							<img src="/img/clients/image002.jpg">
							<img src="/img/clients/image003.jpg">
							<img src="/img/clients/image004.jpg">
							<img src="/img/clients/image005.jpg">
							<img src="/img/clients/image006.jpg">
							<img src="/img/clients/image007.jpg">
							<img src="/img/clients/image008.jpg">
							<img src="/img/clients/image009.jpg">
							<img src="/img/clients/image010.jpg">
							<img src="/img/clients/image011.jpg">
							<img src="/img/clients/image012.jpg">
							<img src="/img/clients/image013.jpg">
							<img src="/img/clients/image014.jpg">
							<img src="/img/clients/image015.jpg">
							<img src="/img/clients/image016.jpg">
							<img src="/img/clients/image017.jpg">
							<img src="/img/clients/image018.jpg">
							<img src="/img/clients/image019.jpg">
							<img src="/img/clients/image020.jpg">
							<img src="/img/clients/image021.jpg">
							<img src="/img/clients/image022.jpg">
							<img src="/img/clients/image023.jpg">
							<img src="/img/clients/image024.jpg">
							<img src="/img/clients/image025.jpg">
							<img src="/img/clients/image026.jpg">
							<img src="/img/clients/image027.jpg">
							<img src="/img/clients/image028.jpg">
							<img src="/img/clients/image029.jpg">
							<img src="/img/clients/image030.jpg">
							<img src="/img/clients/image031.jpg">
							<img src="/img/clients/image032.jpg">
							<img src="/img/clients/image033.jpg">
							<img src="/img/clients/image034.jpg">
							<img src="/img/clients/image035.jpg">
							<img src="/img/clients/image036.jpg">
							<img src="/img/clients/image037.jpg">
							<img src="/img/clients/image039.jpg">
							<img src="/img/clients/image040.jpg">
						</div>
					</div>
					<div class="front"></div>
				</div>
				<div class="row sitemap">
					<div class="col-md-3">
						<h5>Prestations</h5>
						<ul>
							<li class="audit"><a href="/audit/">Audit et conseil</a></li>
							<li class="logiciel"><a href="/logiciel/">Logiciels Sage</a></li>
							<li class="maintenance"><a href="/maintenance/">Maintenance applicative</a></li>
							<li class="infogerance"><a href="/infogerance/">Infogérance</a></li>
							<li class="developpement"><a href="/developpement/">Développements spécifiques</a></li>
							<li class="formation"><a href="/formation/">Formation</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h5>Entreprise</h5>
						<ul>
							<li class="presentation"><a href="/presentation/">La société</a></li>
							<li class="histoire"><a href="/histoire/">Histoire</a></li>
							<li class="valeurs"><a href="/valeurs/">Nos valeurs</a></li>
							<li class="emploi"><a href="/emploi/">Offres d'emploi</a></li>
							<li class="partenaires"><a href="/partenaires/">Partenaires</a></li>
							<li><a href="http://ingsoft.spreadshirt.fr/" target="_blank">Boutique</a></li>
						</ul>
						<h5>Actualités/Presse</h5>
						<ul>
							<li class="temoignages"><a href="/temoignages/">Témoignages clients</a></li>
							<li class="presse"><a href="/presse/">Revue de presse</a></li>
							<li class="media-kit"><a target="_blank" href=""><span class="glyphicon glyphicon-download"></span> Dossier de presse</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h5>Communauté</h5>
						<ul>
							<li><a target="_blank" href="https://www.linkedin.com/company/ingsoft"><img src="/img/glyphicons_social_linked_in.png"> LinkedIn</a></li>
							<li>&nbsp;</li>
							<li><a href="https://plus.google.com/105346456666635907458" rel="publisher" target="_blank"><img src="/img/glyphicons_social_google_plus.png"> Google +</a></li>
							<li>&nbsp;</li>
							<li><a target="_blank" href="https://www.youtube.com/channel/UCZJtTmbn59pItxReQGLZTAQ"><img src="/img/glyphicons_social_youtube.png"> YouTube</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-12">
								<ul style="margin-top:10px">
									<li>
										<script src="http://platform.linkedin.com/in.js" type="text/javascript">
											lang: fr_FR
										</script>
										<script type="IN/Share" data-counter="right"></script>
									</li>
									<li>
										<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
										<g:plusone></g:plusone>
									</li>
									<li><div class="g-ytsubscribe" data-channelid="UCZJtTmbn59pItxReQGLZTAQ" data-layout="default" data-count="default"></div></li>
									<li><br></li>
									<li><strong>Siège</strong><br>23, rue de l’Abbaye<br> 94100 Saint Maur des Fossés<br><span class="glyphicon glyphicon-map-marker"></span> <a href="https://goo.gl/maps/NqwP0">situer sur une carte</a><br><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:0171331500">01 71 33 15 00</a><br><span class="glyphicon glyphicon-print"></span> 01 71 33 13 03<br><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:contact@ingsoft.fr">contact@ingsoft.fr</a><br><br></li>
									<li><strong>Sud Ouest</strong><br>64500 Saint Jean de Luz<br><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:0559436584">05 59 43 65 84</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row copyright">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-3">
								&copy; 2014 Ingsoft SAS. Tous droits réservés.
							</div>
							<div class="col-md-7" class="mentions-legales">
								<a href="/mentions-legales/">Mentions légales</a>
							</div>
							<div class="col-md-2">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- JavaScript -->
<script>
current_page='{{ page.class }}';
</script>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/functions.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
