{% include top.html %}
<body class="default"><!--[if lt IE 7]><p class=chromeframe>Votre navigateur est <em>ancient!</em> <a href="http://browsehappy.com/">Veuillez installer un navgateur récent</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">installer Google Chrome Frame</a> afin d'afficher correctement ce site.</p><![endif]-->
<header id="nav">
	<div class="container">
		<h1 class="pull-left"><a href="/index.html"><img src="/img/logo.png" alt="Ingsoft"></a></h1>
		<nav class="navPublic">
			<div class="navTop pull-right">
				<div class="btn-group">
					<a href="tel:0171331500" class="btn btn-outline-inverse login tel-number">01 71 33 15 00</a>
					<a href="/files/ingsoft-tele-assistance.exe" class="btn btn-outline-inverse login no-mobile" style="color:#002B55;"><span class="glyphicon glyphicon-download"></span></a>
				</div>
			</div>
		</nav>
	</div>
</header>

  {{ content }}

  {% include footer.html %}
</body>
</html>